<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>sellerControl</title>

		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<style type="text/css">
			/*.main {
				border: 1px solid red;
				
			}*/
			
			.my_color {
				margin-top: 20px;
				color: cornflowerblue;
			}
			
			.mg {
				margin-top: 5px;
				margin-bottom: 5px;
			}
			
			div>a:link {
				text-decoration: none;
			}
			
			div>a:visited {
				color: black;
			}
			
			div>a:hover {
				color: cornflowerblue;
			}
			
			div>a:active {
				color: black;
			}
		</style>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<nav class=" navbar-default" role="navigation" style="border: 0px;background-color: aliceblue;">
					<div class="navbar-header">
						<small class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;管理员</small></a>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="#">卖家管理</a>
							</li>
							<li>
								<a href="#">买家管理</a>
							</li>
							<li>
								<a href="#">订单管理</a>
							</li>
							<li>
								<a href="#">评价及投诉管理</a>
							</li>
						</ul>
					</div>
					<!--</div>-->
				</nav>

				<!--<div class="form-group">-->
				<div class="col-sm-offset-1 col-sm-10 main">
					<div class="col-sm-2 main">
						<div class="row my_color">
							<font size="4">管理员信息</font>
						</div><br>
						
						<div class="row mg">
							<img src="../img/管理员头像.png" style="max-height: 150px;"<br><br><br>
							<font size="3">管理员编号：95279527</font><br><br>
							<font size="3">管理员姓名：</font><br><br>
						</div>
						
					</div>
					<div class="col-sm-10 main">
						<p style="font-size: 21px; margin-top: 19px; color: cadetblue;">卖家信息管理</p>
						<hr>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<div class="input-group">
					                <input type="text" class="form-control" placeholder="请输入用户名">
					                <span class="input-group-btn">
					                    <button class="btn btn-primary">搜索</button>
					                </span>
					            </div>
							</div>
						</div><br>
						
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>用户名</th>
										<th>联系方式</th>
										<th>收货地址</th>
										<th>信誉值</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>这是用户名</td>
										<td>11122233333</td>
										<td>这是一个收货地址</td>
										<td>100</td>
									</tr>
									
								</tbody>
							</table>
							
						</div><br>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										
										<th>销售中的商品</th>
										<th>商品图片</th>
										<th>介绍</th>
										<th>单价</th>
										<th>库存</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>红辣椒</td>
										<td><img src="img/spice.jpg" style="max-width: 100px;"></td>
										<td>这是一个介绍这是一个介绍这是一个介绍这是一个介绍</td>
										<td>10</td>
										<td>100</td>
									</tr>
									<tr>
										<td>红辣椒</td>
										<td><img src="img/spice.jpg" style="max-width: 100px;"></td>
										<td>这是一个介绍这是一个介绍这是一个介绍这是一个介绍</td>
										<td>10</td>
										<td>100</td>
									</tr>
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
				 
			</div>
		</div>

		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>

</html>