
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--引入bootstrap样式-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		
		<style type="text/css">
			.tcolor{
				border: aliceblue;
				background-color: aliceblue;
				
			}
			.dropdown>a, .dropdown>a:focus, .dropdown>a:hover{
				background-color: aliceblue;
			}
			.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
			    
			    background-color: aliceblue;
			}
			a.font:hover{
				font-size: 15px;
				color: #000000;
			}
		</style>
		
	
	</head>
	<body>
		
		
		<div class="container-fluid">
			
			<div class="row">
				
				
				<!--导航栏-->
				<div class="">
					
					<nav class="navbar navbar-inverse tcolor" role="navigation" >
					    <div class="container-fluid"> 
					    <div class="navbar-header  tcolor">
					        
					        <a class="navbar-brand" href="#">
					        	<p style="color: #843534;">您好，尊敬的用户</p>
					        </a>
					    </div>
					    <div class="collapse navbar-collapse tcolor " id="example-navbar-collapse">
					        <ul class="nav navbar-nav navbar-right tcolor">
					            <li><a class="font" href="#">淘宝首页</a></li>
					            <li><a class="font" href="#">愿望单</a></li>
					            <li><a class="font" href="#">消息 <span class="badge">3</span></a></li>
					            <li class="dropdown" style="background-color: aliceblue;">
					                <a  class="font" class="dropdown-toggle " data-toggle="dropdown" style="background-color: aliceblue;">
					                    	我的淘宝 
					                </a>
					                <ul class="dropdown-menu" style="background-color: aliceblue;">
					                    <li><a href="#">心怡商家</a></li>
					                    <li><a href="#">我的足迹</a></li>
					                    
					                </ul>
					            </li>
					        </ul>
					    </div>
					    </div>
					</nav>
					
				</div>
				
				<!--搜索框-->
				<div class="sousuo">
					<div class="row">					
						<div class="col-sm-6 col-sm-offset-3">
							<div class="input-group">
							    <input type="text" class="form-control col-sm-5" placeholder="请输入用户名" width="250px">
							    <span class="input-group-btn">
							        <button class="btn btn-primary">搜索</button>
							    </span>
							</div>
						</div>						
					</div>					
				</div>
				
				<div>
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
					
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					<br />
					<br />
					<br />
					<br />
					<br /><br />
					<br />
					
				<!--返回顶部-->
				
				</div>
				
				<div class="" style="position: fixed; right:5px;top: 300px;">
					<a href="#top"><img src="../img/置顶.png"></a>
				</div>
				<div class="" style="position: fixed; right:5px;top: 370px;">
					<a href="#top"><img src="../img/用户反馈.png"></a>
				</div>
				
				<hr />
				<!--小组成员-->
				<div class="number">
					
					<p style="color: #DBDBDB;">张涛</p>
					
				</div>
				
				
			</div>
			
		</div>
		
		
		<!--引入jquery-->
		
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!--引入bootstrap.min.js-->
		<script src="../plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
